# byte-complied
__pycache__/

#virtual environment
venv/

# mkdocs build files
site/

#logs
logs/

# misc. files
plan.txt
process_c2.py
process_c3.py
test.py

#database
comet-hunter.db*

#coronagraph raw files
data/

#python packaging
build/
dist/
*.egg-info